
.about-container {
    display: flex;
    justify-content: center;
}
.about-description {
    max-width: 700px;
}
.about-description p {
    font-size: 19px;
    font-weight: 400;
    text-align: justify;
}



#about-me-section-header p {
    border-bottom: 1px solid #2e3340;
}
