.about-me-page {
    background-color: #97a1b0;/*#2e3340;*/
    color: #2e3340;
}
.about-container {
    display: flex;
    justify-content: center;
}
.about-description {
    max-width: 700px;
}
.about-description p {
    font-size: 19px;
    font-weight: 400;
    text-align: justify;
}

#about-me-section-spacer {
    background-color: #5c6170;
}