.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 180px;
    background-color: white;
    padding: 0 80px;
}

.contact-links a {
    text-decoration: none;
    color: inherit;
    padding: 24px;
}