.home-body {
    display: flex;
    /*justify-content: space-between;*/
    justify-content: center;
    height: 878px;
    align-content: stretch;
    color: white;
}
.left-side {
    width: 50%;
    /*background: #f0e4d8;*/
    /*background: #e2e2db;*/
    /*background: #a8d0e6;*/
    display:flex;
    align-items: center;
    justify-content: center;
}
.left-side img {
    max-width: 60%;
    height:auto;
}

.right-side {
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    flex-flow: column wrap;
}
.welcome-text {
    position: relative;
    padding: 0 64px 0 32px;
}

.welcome-text #hello {
    font-size: 95px;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    color: #264849 !important;
}
.welcome-text #intro {
    font-size:1.75em;
    font-weight: 500;
    color: #264849;
}

.intro-container {
    display: flex;
}
.intro-container p {
    margin-right: 0.333em;
}
.intro-container #rotating-text {
    font-size: 1.75em;
    font-weight: 700;
    height: 75px;    
    color: #264849 !important;
}

.external-links{
    padding: 24px 32px;
}

.external-links a {
    padding-top: 64px;
    padding-right: 40px;
}

.external-links svg path {
    color: #264849;
}

