.header-bar {
  display:flex;
  justify-content: space-around;
  min-height: 100px;
  background-color: #f0e4d8;
  align-items: center;
}


/*sticky*/
.title {
  position: fixed;
  text-align: center;
}
.title > p {
  text-transform: uppercase;
  font-size: 20px;
}


/* BURGER MENU */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #b3a188;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #373a47 ;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top: 0px;
}

/* General sidebar styles */
.bm-menu {
  background: #f0e4d8;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #4b5556;
  text-transform: uppercase;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

a {
  padding: 12px;
}

/* Styling of overlay */
.bm-overlay {
  background: white !important;
  opacity: 0 !important;
}
/* Position and sizing of burger button */
/*
/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases

   
  /* Styling of overlay 
 
  } */
  