@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Open Sans';
	font-weight: 200;
	font-size: 16px;
	line-height: 150%;
}

.section-content {
	margin-left: 8%;
	margin-right: 8%;
	/*padding-bottom: 48px;*/
} 	

.section-header {
	display: flex;
  	justify-content: center; 
  	align-items: center;
	height: 120px;
	background: pink;
	/*margin-bottom: 48px;*/
	text-transform: uppercase;
	/*border-top: 1px solid #dfdfe5;
	border-bottom: 1px solid #dfdfe5;*/
}
.section-spacer {
	height: 100px;
}

.section-header p {
	text-transform: uppercase;
	font-weight:300;
	font-family: 'Libre Franklin';
	letter-spacing: 2px;
	font-size: 18px;
}

.page-content {
	/*margin-bottom: 64px;*/
	background: white;
}