.project-row {
	display:flex;
	justify-content: center;
	text-align: center;
}

.project-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 500px;
	height: 500px;
	margin: 1.5em;
	background-color: rgba(38, 72, 73, 0.2);
	box-shadow: 1px 1px 10px rgba(245,245,245,0.7);
}

@media screen and (max-width: 1000px) {
	.project-row {
		flex-direction: column;
		flex-flow: column wrap;
	}
}

.project-media img:hover {
	transform: scale(1.01);
	opacity: 0.8;
}


/*Project Description*/
.project-text{
	min-height: 6em;
	margin-top: 2em;
	padding: 0.7em;
	background-color:white;
}
.project-text h3 {
	font-family: 'Source Sans Pro';
	font-size: 0.8em;
	font-weight: bold;
	text-transform: uppercase;
}
.project-text p {
	text-align: left;
	font-size: 0.75em;
}


